{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">

        <div id="content">
            <div class="images" style="z-index: 1; position: absolute;">
                <ul >
                    <li><img  src="{% static 'images/5.png' %}" alt=""></li>
                    <li><img src="{% static 'images/3.png' %}" alt=""></li>
                    <li><img src="{% static 'images/4.png' %}" alt=""></li>
                    <li><img src="{% static 'images/8.png' %}" alt=""></li>
                </ul>
            </div>


            <div class="main" style="z-index: 2;position: absolute;">


                <div class="row">
                    <div class="col-md-7">
                        <h1>< MZAZA /></h1>
                    </div>

                    <div class="col-md-5" style="text-align: right; padding-right:2%">
                        <h2>FULL STACK DEVELOPER</h2>
                    </div>
                </div>

                <div class="stickys">


                    <ul id="notes">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#profile" >
                                <br>
                                <p>PROFILE</p>
                                <p>Get to know more about me</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#projects">
                                <br>
                                <p>PROJECTS</p>
                                <p>Some of my previous work</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#skills">
                                <br>
                                <p>SKILLS</p>
                                <p>What i can do </p>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#contact">
                                <br>
                                <p>CONTACT</p>
                                <p>Want to work together ?</p>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="footer">
                    Keith Mzaza &#169; {{ year }}

                </div>
            </div>
        </div>


    </div>

    {#    profile modal#}
    <div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-grid">

                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    end of profile modal#}


    {#    projects modal#}
    <div class="modal fade" id="projects" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Projects</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-grid">

                    </div>
                </div>

            </div>
        </div>
    </div>
    {#    end of projects modal#}



    {#    skills modal#}
    <div class="modal fade" id="skills" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Skills</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-grid">

                    </div>
                </div>

            </div>
        </div>
    </div>
    {#    end of skills modal#}


    {#    contact modal#}
    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-grid">

                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    end of contact modal#}



{% endblock %}