{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">

        <div id="content">
            <div class="images" style="z-index: 1; position: absolute;">
                <ul class="backimgholder">
                    <li class="backimg"><img  src="{% static 'images/5.png' %}" alt=""></li>
                    <li class="backimg"><img src="{% static 'images/3.png' %}" alt=""></li>
                    <li class="backimg"><img src="{% static 'images/4.png' %}" alt=""></li>
                    <li class="backimg"><img src="{% static 'images/8.png' %}" alt=""></li>
                </ul>
            </div>


            <div class="main" style="z-index: 2;position: absolute;">


                <div class="row">
                    <div class="col-md-7">
                        <h1>< MZAZA /></h1>
                    </div>

                    <div class="col-md-5" style="text-align: right; padding-right:2%">
                        <h2>FULL STACK DEVELOPER</h2>
                    </div>
                </div>

                <div class="stickys">


                    <ul id="notes">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#profile" >
                                <br>
                                <p><u>PROFILE</u></p>
                                <p>Get to know more about me</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#projects">
                                <br>
                                <p><u>PROJECTS</u></p>
                                <p>Just the tip of the iceberg</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#skills">
                                <br>
                                <p><u>SKILLS</u></p>
                                <p>What I can do </p>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#contact">
                                <br>
                                <p><u>CONTACT</u></p>
                                <p>Want to work together ?</p>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="footer">
                    Keith Mzaza &#169; {{ year }}

                </div>
            </div>
        </div>


    </div>

    {#    profile modal#}
    <div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">< Profile /></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times fa-2x"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-grid">
                        <div class="row">
                            <div class="modal-stickys col-md-5">
                                <ul id="modal-notes">
                                    <li class="text-center">
                                        <a href="#">
                                            <br>
                                            <p><u>KEITH MZAZA</u></p>
                                            <p>Full stack web developer</p>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-md-7 main-profile-container">
                                <div class="main-profile-content">
                                    <h1><u>ABOUT ME</u></h1>
                                    <br>
                                    <h3>Who is Keith Mzaza ?</h3>
                                    <h5 >I am an extremely competitive full stack developer who loves to constantly be challenged, explore and learn new things.</h5>
                                    <h5>Offline, i try to avoid the screen as much as possible. I love animals and nature in general and i enjoy sports like soccer, horse riding and golf.</h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    end of profile modal#}


    {#    projects modal#}
    <div class="modal fade" id="projects" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">< Projects /></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times fa-2x"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-grid">
                        <div class="row">
                            <div class="modal-stickys conatact-modal-sticky col-md-5">
                                <ul id="modal-notes">
                                    <li class="text-center">
                                        <a href="#">
                                            <br>
                                            <p><u>PORTFOLIO</u></p>
                                            <p>Some of my previous work.</p>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-md-7 main-profile-container">
                                <div class="main-profile-content">

                                    <br>
                                    <div class="row">

                                        <div class="container-book col-md-3">
                                            <div class="book-cover">
                                                <div class="book">
                                                    <img src="http://images.penguinrandomhouse.com/cover/9780345513526" />
                                                    <div class="book-bg"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container-book col-md-3">
                                            <div class="book-cover">
                                                <div class="book">
                                                    <img src="http://images.penguinrandomhouse.com/cover/9780345513526" />
                                                    <div class="book-bg"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container-book col-md-3">
                                            <div class="book-cover">
                                                <div class="book">
                                                    <img src="http://images.penguinrandomhouse.com/cover/9780345513526" />
                                                    <div class="book-bg"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container-book col-md-3">
                                            <div class="book-cover">
                                                <div class="book">
                                                    <img src="http://images.penguinrandomhouse.com/cover/9780345513526" />
                                                    <div class="book-bg"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    {#    end of projects modal#}



    {#    skills modal#}
    <div class="modal fade" id="skills" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">< Skills /></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times fa-2x"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-grid">
                        <div class="row">
                            <div class="modal-stickys conatact-modal-sticky col-md-5">
                                <ul id="modal-notes">
                                    <li class="text-center">
                                        <a href="#">
                                            <br>
                                            <p><u>KEY SKILLS</u></p>
                                            <p>A diverse set of skills</p>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-md-7">
                                <div id="infografik">
                                    <div class="leftside">
                                        <div class="gehirndesign">
                                            <table cellpadding="0" cellspacing="0">
                                                <colgroup>
                                                    <col width="100"/><col/>
                                                </colgroup>
                                                <thead>
                                                <tr><th class="desi">Backend</th><th class="desi"></th></tr>
                                                </thead>
                                                <tbody>
                                                <tr><td class="ps">Python</td><td class="ps"></td></tr>
                                                <tr><td class="ai">Django</td><td class="ai"></td></tr>
                                                <tr><td class="ind">Flask</td><td class="ind"></td></tr>
                                                <tr><td class="fla">Javascript</td><td class="fla"></td></tr>
                                                <tr><td class="fw">Jquery</td><td class="fw"></td></tr>
                                                <tr><td class="pp">Postgresql</td><td class="pp"></td></tr>
                                                <tr><td class="ae">Others</td><td class="ae"></td></tr>
                                                </tbody>
                                            </table>
                                        </div><!-- / gehirndesign -->

                                        <div class="gehirncoding">
                                            <table cellpadding="0" cellspacing="0">
                                                <colgroup>
                                                    <col width="100"/><col/>
                                                </colgroup>
                                                <thead>
                                                <tr><th class="cod">Frontend</th><th class="cod"></th></tr>
                                                </thead>
                                                <tbody>
                                                <tr><td class="ht">HTML</td><td class="ht"></td></tr>
                                                <tr><td class="cs">CSS</td><td class="cs"></td></tr>
                                                <tr><td class="jas">JavaScript</td><td class="jas"></td></tr>
                                                <tr><td class="php">Angular</td><td class="php"></td></tr>
                                                <tr><td class="actsc">Others</td><td class="actsc"></td></tr>
                                                </tbody>
                                            </table>
                                        </div><!-- / gehirncoding -->

                                        <div class="gehirnspiele">
                                            <table cellpadding="0" cellspacing="0">
                                                <colgroup>
                                                    <col width="100"/><col/>
                                                </colgroup>
                                                <thead>
                                                <tr><th class="spi">Others</th><th class="spi"></th></tr>
                                                </thead>
                                                <tbody>
                                                <tr><td class="snes">Wordpress</td><td class="snes"></td></tr>
                                                <tr><td class="wii">Sports</td><td class="wii"></td></tr>
                                                <tr><td class="nds">Git</td><td class="nds"></td></tr>
                                                <tr><td class="playst">Wix</td><td class="playst"></td></tr>
                                                <tr><td class="sonst">Others</td><td class="sonst"></td></tr>
                                                </tbody>
                                            </table>
                                        </div><!-- / gehirnspiele -->
                                    </div><!-- / leftside -->

                                    <div class="rightside">
                                        <div id="maphover"></div>
                                        <img src="{% static 'images/gehirn_map.gif' %}" class="map" alt="What's in my head" usemap="#gehirn" width="502" height="401" />
                                    </div><!-- / rightside -->
                                    <div class="clear"></div>
                                    <p class="copytext">* This design is inspired by Bianca Mangels.Check her out  <a href="http://biancamangels.com/about" >here.</a></p>
                                </div><!-- / infografik -->

                                <map name="gehirn">
                                    <!-- Backend -->
                                    <area shape="poly" coords="86,56,109,35,126,34,143,22,166,18,179,10,203,7,214,3,232,5,246,0,266,6,285,0,365,20,382,25,400,41,414,54,416,63,403,59,392,58,379,50,355,72,317,65,303,45,274,51,258,80,245,96,240,121,244,141,249,162,225,212,226,180,198,174,179,184,150,203,144,190,146,167,154,137,156,98,167,89,156,70,140,66,124,54,119,55,109,46" title="Python" alt="ps"/>
                                    <area shape="poly" coords="111,262,120,250,123,235,152,205,202,174,227,180,225,205,248,163,276,139,289,151,300,141,324,152,355,151,336,172,323,198,301,195,279,200,273,219,289,239,291,245,300,248,322,268,302,278,276,275,234,292,218,303,191,319,155,303,134,301,119,287" title="Django" alt="ai"/>
                                    <area shape="poly" coords="250,161,246,151,246,140,242,105,249,84,259,79,275,51,305,46,318,64,354,71,375,54,392,55,398,65,397,79,403,86,404,60,432,77,460,104,459,121,469,124,491,171,490,184,500,193,497,225,487,202,474,187,462,184,465,163,442,123,420,118,409,104,370,129,354,157,350,149,322,153,299,142,290,152,274,142" title="Flask" alt="ind"/>
                                    <area shape="poly" coords="404,248,413,231,394,221,408,159,420,153,432,141,443,160,464,169,463,183,480,188,497,223,469,260,434,245,424,249" title="Javascript" alt="fla"/>
                                    <area shape="poly" coords="322,268,303,251,293,246,291,238,274,224,282,203,304,210,324,230,395,221,415,234,403,246,391,243,377,249,366,259,351,261" title="Jquery" alt="fw"/>
                                    <area shape="poly" coords="284,200,303,195,327,195,332,179,351,159,355,174,374,183,406,174,396,224,370,223,320,229" title="Postgresql" alt="pp"/>
                                    <area shape="poly" coords="349,162,372,128,411,102,420,119,448,123,465,164,464,172,456,165,443,162,441,148,430,140,406,160,395,179,376,184,354,176" title="Others" alt="ae"/>
                                    <!-- Frontend -->
                                    <area shape="poly" coords="121,52,140,63,158,72,168,90,157,97,153,142,141,180,151,204,121,239,112,228,130,209,126,200,93,185,96,167,82,165,72,144,53,132,41,130,45,114,60,104,74,104,68,90,77,76,98,68" title="HTML" alt="ht"/>
                                    <area shape="poly" coords="122,238,115,230,109,230,131,208,127,198,110,192,95,182,93,166,82,165,74,142,55,128,40,131,38,140,52,152,35,151,28,168,44,190,43,201,63,229,83,230,94,226,100,245,120,250" title="CSS" alt="cs"/>
                                    <area shape="poly" coords="118,251,97,241,92,228,73,230,60,225,56,213,42,205,42,191,27,169,14,163,10,156,10,151,16,129,8,121,4,132,5,147,0,175,12,185,11,196,37,239,52,247,82,263,113,259" title="JavaScript" alt="jas"/>
                                    <area shape="poly" coords="30,171,14,164,9,152,16,131,17,119,23,108,26,102,37,98,49,85,54,74,110,44,116,54,96,69,75,78,70,94,74,104,60,102,44,118,44,128,38,137,53,151,36,151,28,159" title="Angular" alt="php"/>
                                    <area shape="poly" coords="18,129,9,123,10,115,24,95,35,78,59,54,70,53,80,43,91,44,84,58,58,73,49,78,52,88,46,87,38,99,24,104,28,120" title="Others" alt="actsc"/>
                                    <!-- Others -->
                                    <area shape="poly" coords="272,276,274,286,291,318,302,322,316,313,325,314,331,301,345,294,375,279,423,266,442,261,452,258,450,252,433,244,424,249,407,246,387,242,377,250,364,259,352,261,337,268,321,267,300,279" title="Wordpress" alt="snes"/>
                                    <area shape="poly" coords="325,314,330,303,345,288,379,277,453,254,455,277,440,314,424,312,412,311,364,334,333,328" title="Sports" alt="wii"/>
                                    <area shape="poly" coords="440,315,421,310,411,312,362,333,334,327,323,314,315,318,322,331,356,355,401,343,414,343" title="Git" alt="nds"/>
                                    <area shape="poly" coords="314,312,314,322,349,354,378,350,398,345,381,359,350,364,326,349,304,325,299,312" title="Wix" alt="playst"/>
                                    <area shape="poly" coords="287,304,272,310,286,321,295,336,314,351,343,361,313,338,300,323,304,310" title="Other" alt="sonst"/>
                                </map>


                            </div>
                        </div>
                    </div>



                </div>
            </div>


        </div>
    </div>
    {#    end of skills modal#}


    {#    contact modal#}
    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">< Contact /></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times fa-2x"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-grid">
                        <div class="row">
                            <div class="modal-stickys conatact-modal-sticky col-md-7">
                                <ul id="modal-notes">
                                    <li class="text-center">
                                        <a href="#">
                                            <br>
                                            <p><u>GET IN TOUCH</u></p>
                                            <p>Here to provide you with more information and answer any questions </p>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-md-5 main-profile-container">
                                <div class="main-profile-content">

                                    <br>
                                    <div class="contact-icons">

                                        <a href="#" class="icon-links"><i class="fab fa-github fa-3x contact-icon"></i></a>

                                        <a href="#" class="icon-links"><i class="far fa-envelope fa-3x push-right contact-icon"></i></a>

                                        <a href="#" class="icon-links"><i class="fab fa-linkedin-in fa-3x push-right contact-icon"></i></a>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    end of contact modal#}


{% endblock %}