{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">

        <div id="content">
            <div class="images" style="z-index: 1; position: absolute;">
                <ul >
                    <li><img  src="{% static 'images/5.png' %}" alt=""></li>
                    <li><img src="{% static 'images/3.png' %}" alt=""></li>
                    <li><img src="{% static 'images/4.png' %}" alt=""></li>
                    <li><img src="{% static 'images/8.png' %}" alt=""></li>
                </ul>
            </div>


            <div class="main" style="z-index: 2;position: absolute;">


                <div class="row">
                    <div class="col-md-7">
                        <h1>< MZAZA /></h1>
                    </div>

                    <div class="col-md-5" style="text-align: right; padding-right:2%">
                        <h2>FULL STACK DEVELOPER</h2>
                    </div>
                </div>

                <div class="stickys">


                    <ul id="notes">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#profile" >
                                <br>
                                <p><u>PROFILE</u></p>
                                <p>Get to know more about me</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#projects">
                                <br>
                                <p><u>PROJECTS</u></p>
                                <p>Some of my previous work</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#skills">
                                <br>
                                <p><u>SKILLS</u></p>
                                <p>What i can do </p>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#contact">
                                <br>
                                <p><u>CONTACT</u></p>
                                <p>Want to work together ?</p>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="footer">
                    Keith Mzaza &#169; {{ year }}

                </div>
            </div>
        </div>


    </div>

    {#    profile modal#}
    <div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">< Profile /></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-grid">
                        <div class="row">
                            <div class="modal-stickys col-md-5">
                                <ul id="modal-notes">
                                    <li class="text-center">
                                        <a href="#">
                                            <br>
                                            <p><u>KEITH MZAZA</u></p>
                                            <p>Full stack web developer</p>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-md-7 main-profile-container">
                                <div class="main-profile-content">
                                    <h1><u>ABOUT ME</u></h1>
                                    <br>
                                    <h3>So who is Keith Mzaza ?</h3>
                                    <h5 >I am an extremely competitive full stack developer who loves to constantly be challenged, explore and learn new things.</h5>
                                    <h5>Offline, i try to avoid the screen as much as possible. I love animals and nature in general and i enjoy sports like soccer, horse riding and golf.</h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    end of profile modal#}


    {#    projects modal#}
    <div class="modal fade" id="projects" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">< Projects /></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-grid">
                        <div class="row">
                            <div class="modal-stickys conatact-modal-sticky col-md-7">
                                <ul id="modal-notes">
                                    <li class="text-center">
                                        <a href="#">
                                            <br>
                                            <p><u>PORTFOLIO</u></p>
                                            <p>Just the tip of the iceberg</p>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-md-5 main-profile-container">
                                <div class="main-profile-content">

                                    <br>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    {#    end of projects modal#}



    {#    skills modal#}
    <div class="modal fade" id="skills" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">< Skills /></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-grid">
                        <div class="row">
                            <div class="modal-stickys conatact-modal-sticky col-md-6">
                                <ul id="modal-notes">
                                    <li class="text-center">
                                        <a href="#">
                                            <br>
                                            <p><u>KEY SKILLS</u></p>
                                            <p>A diverse set of skills</p>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-md-6 main-profile-container">
                                <div class="main-profile-content">
                                    <br>
                                    <h4>HTML</h4>
                                    <h4>CSS</h4>
                                    <h4>Javascript</h4>
                                    <h4>Jquery</h4>
                                    <h4>Angular</h4>
                                    <h4>Wordpress</h4>
                                    <h4>Git</h4>
                                    <h4>Bootstrap</h4>
                                    <h4>Semantic</h4>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
    {#    end of skills modal#}


    {#    contact modal#}
    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">< Contact /></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-grid">
                        <div class="row">
                            <div class="modal-stickys conatact-modal-sticky col-md-7">
                                <ul id="modal-notes">
                                    <li class="text-center">
                                        <a href="#">
                                            <br>
                                            <p><u>GET IN TOUCH</u></p>
                                            <p>Here to provide you with more information and answer any questions </p>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-md-5 main-profile-container">
                                <div class="main-profile-content">

                                    <br>
                                    <div class="contact-icons">

                                        <a href="#" class="icon-links"><i class="fab fa-github fa-3x contact-icon"></i></a>

                                        <a href="#" class="icon-links"><i class="far fa-envelope fa-3x push-right contact-icon"></i></a>

                                        <a href="#" class="icon-links"><i class="fab fa-linkedin-in fa-3x push-right contact-icon"></i></a>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    end of contact modal#}



{% endblock %}